@import "~@payloadcms/ui/scss";

@layer payload-default {
  .icon--zoom {
    height: $baseline;
    width: $baseline;

    .stroke {
      stroke: currentcolor;
      stroke-width: $style-stroke-width-s;
    }
  }
}
